@import 'tailwindcss';

@layer base {
}

body {
  color: white;
  font-family: monospace;
}

@theme {
  --color-navbar: #1a0b2e;
  --color-main-background: #11071f;
  --color-main-purple: #7127ba;

  --text-tiny: 0.65rem;
}
