@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@layer base {
}

@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(
      to right,
      #130428 7%,
      #251043 34%,
      #38126d 57%,
      #261045 85%,
      #190634 100%
    );
  }
}

body {
  color: white;
  font-family: monospace;
}

@theme {
  --color-navbar: #1a0b2e;
  --color-main-background: #11071f;
  --color-main-purple: #7127ba;
  --color-button-bg: #2c1250;
  --color-button-border: #693b93;
  --color-bright-purple: #4f228d;
  --color-stack-bg: #251c31;

  --text-tiny: 0.65rem;
}
